.wrap 
{
 width:600px;   
 margin:auto;
 background-color: grey;
}
.content,  aside 
{
height:600px;
}
.content
{
background: rgb(170, 50, 50);
width: 450px;
float: left;
}
aside 
{
background-color: rgb(190, 171, 171);
float:left;
width:150px;
}
body
{
background-color: black;
}
aside ul a
{
list-style:none;
padding: 0px;;
}
footer 
{
background-color: grey;
}

ul a:hover 
{
color: red;
font-size: 20px;
}
ul a:active
{
color: purple;
}
a {

}